@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Karasha, sans-serif;
    src: url("../src/assets/karasha-font/Karasha.otf");
}

:root {
    --font-kar: "Karasha", sans-serif;
  }